


@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

@import url('https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&family=Miss+Fajardose&display=swap');
   @font-face {
    font-family: 'Sweet';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Light.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}
@import url('//fonts.googleapis.com/earlyaccess/jejumyeongjo.css');



        body {
            background-color: #efe8cd;
            margin: 0%;
            font-family: 'Playfair Display', serif;
            line-height: 150%;
           word-break: keep-all;  
letter-spacing: -0.01em;   
        }
.container{ position: relative;   z-index:1;
   width:100%;    
background-image:url("../img/a03.png");
   height:700px;
   justify-content: center;
    animation-name: back_change;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
           will-change: back_change;
}

@keyframes back_change{
   25% {background:url("../img/a01.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;}
  
    42% {background:url("../img/a02.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;}
   
    55% {background:url("../img/a03.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;}
    74% {background:url("../img/a01.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;}
    90% {background:url("../img/a02.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;}
                    
}
.container2{    position: relative;   z-index:1;
            background-image:url("../img/n03.png");
  width:100%; height:700px;
   justify-content: center;
    animation-name: back_change2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
            will-change: back_change2;
}
.cp{
   color:#fff; font-size:1.3rem;
text-align: center;
 position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);}

@keyframes back_change2{
   95% {background:url("../img/n01.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;}
    35% {background:url("../img/n02.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;}
   
   
  58% {background:url("../img/n03.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;}
    74% {background:url("../img/n01.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;}
    90% {background:url("../img/n02.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;}
                    
}

.mt-50 {margin-top:-50px;}


        li {
            list-style: none;
        }

        a {
            text-decoration: none;
            color: #000;
        }

        .image01 {
            background-image: url('02.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .basic-image {
            width: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;  overflow: hidden;

 }




        .line {
            border-top: 5px solid black;
          padding:10px;

        }



        .accordion a {
            position: relative;
            display: flex;
            padding: 1rem;
            font-size: 1.1rem;
            border-bottom: 1px solid #000;
        }

        .accordion a:hover,
        .accordion a:hover::after {
            cursor: pointer;
            color: #AF3E3E;
        }


        .accordion a.active {
            color: #AF3E3E;
            border-bottom: 1px solid #AF3E3E;
        }

        .accordion a::after {
            font-family: 'Ionicons';
            content: '\f218';
            position: absolute;
            float: right;
            right: 1rem;
            font-size: 1rem;
            text-align: center;
        }

        .accordion a.active::after {
            font-family: 'Ionicons';
            content: '\f209';
            color: #727D73;

        }

        .accordion .content {
            opacity: 0;
            padding: 0 1rem;
            max-height: 0;
            border-bottom: 1px solid #fff;
            overflow: hidden;
            clear: both;
            -webkit-transition: all 0.2s ease 0.15s;
            -o-transition: all 0.2s ease 0.15s;
            transition: all 0.2s ease 0.15s;
        }

        .accordion .content.active {
            opacity: 1;
            padding: 1rem;
            max-height: 100%;
            -webkit-transition: all 0.35s ease 0.15s;
            -o-transition: all 0.35s ease 0.15s;
            transition: all 0.35s ease 0.15s;
        }

h4 {margin-top:0;margin-bottom:30px;
              font-family: "Noto Sans KR", sans-serif;
              font-size: 18px;line-height: 1.5;font-weight: 500;
            }
            h5 {margin-top:0;margin-bottom:50px;
               font-family: "Noto Sans KR", sans-serif;
               font-size: 15px;line-height: 1.5;font-weight: 400;
            }
   
h7 {margin-top:0;margin-bottom:50px;
               font-family: "Noto Sans KR", sans-serif;
               font-size: 15px;line-height: 1.5;font-weight: 400;
            }

        @media (min-width:800px) {

            /* nav */


           .logo {
               font-size:70px;
                margin: 20% 0% 40% 0%;
                font-family: "Mr De Haviland", cursive;
               font-weight: 400;
              font-style: normal;
              letter-spacing:-6px;
            }

.logo2 {font-family: 'Playfair Display', serif;white-space: nowrap; font-size:37px;}
          
            #nav {
                font-family: 'Playfair Display', serif;
                font-size: 20px;
                position: fixed;
                width: 160px;
                margin: 0% 3%;
                z-index:99999;
            }

            #nav:hover {
                background-color: white;

            }

            ul {
                padding: 30px 15px;

            }

            li {
                list-style: none;
                margin: 5px;
                padding: 5px 10px;
            }

         

            /* main */
            #main {
                position: absolute;
                padding: 50px;
                left: 150px;
                margin-left: 5%;
            }


            .title h1 {
                font-size: 3rem;
                margin: 5%;
                padding: 2% 0%;
                border-top: 1px solid black;
            }

            .title p {
                margin: 5% 5% -4% 5%;
                font-size: 0.9rem;
            }

            .section {
                display: flex;
                flex-direction: row;
                margin: 5% 3%;
                column-gap: 3%; overflow:auto;

            }

            .center {
                margin: 25vh auto 0;
                transform: translateY(-50%);
            }

            .item1 {
                flex-grow: 1;
                flex-basis: 300px;
            }

            .item1-2 {
                flex-grow: 1;
                flex-basis: 300px;
                background-color: white;
                text-align: center;
                height: 100%;
               padding: 15px;

            }

            .item2 {
                flex-grow: 2;
                flex-basis: 400px;
            }

            .item3 {
                flex-grow: 3;
                flex-basis: 500px;
            }

            .item4 {
                flex-grow: 4;
                flex-basis: 700px;
            }

            .item5 {
                flex-grow: 5;
                flex-basis: 1200px;
            }





            /* footer */
            footer {}

        }

        @media (max-width:799px) {


           .mt-30 {margin-top: -30px;}
      
            h4 {
               font-size: 15px;line-height: 1.4;
            }
            h5 {margin-top:10px;margin-bottom: 0px;
               font-family: "Noto Sans KR", sans-serif; font-weight: 400;
               font-size: 13px;line-height: 1.4;
            }

 h7 {margin-top:10px;margin-bottom: -50px;
               font-family: "Noto Sans KR", sans-serif; font-weight: 400;
               font-size: 13px;line-height: 1.4;
            }

h6 {margin-top:10px;margin-bottom:30px;
               font-family: "Noto Sans KR", sans-serif;
               font-size: 13px;line-height: 1.4;font-weight: 400;
            }
           
   .container{
      
        margin-top: 50px;
   width:100%;
   height:500px;
    animation-name: back_change;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
             .container2{
      
        margin-top: 50px;
   width:100%;
   height:500px;
    animation-name: back_change2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
          
            #nav {
                font-family: 'Playfair Display', serif;
                font-size: 17px;
                position: fixed !important;
                width: 100%;
                margin: -30% 0% 0%;
                background-color: white;
                  z-index:99999;
            }

            #nav:hover {
                background-color: white;
            }

            ul {
                margin: 2%;
                padding: 10px;
            }

            li {
                list-style: none;
                display: inline;
                margin-right: 4%;
            }

         .logo {
               font-size:45px;
                margin: 10% 0% 4%;
                font-family: "Mr De Haviland", cursive;
               font-weight: 400;
              font-style: normal;
              letter-spacing:-5px;
            }

.logo2 {font-family: 'Playfair Display', serif;white-space: nowrap; font-size:23px;}
          
            #main {
                position: flex;
                padding: 5%;
                margin-top: 100px;
            }



            .title h1 {
                font-size: 2rem;
                padding-top: 3%;
               margin-bottom: 10%;
                border-top: 1px solid black;
            }

            .title p {
                margin-bottom: -5%;
               margin-top: 10%;
                font-size: 0.9rem;
            }

            .section {
                display: block;
            }

            .basic-image {
                margin: 0%;
            }

            .item1,
            .item2,
            .item3,
            .item4,
            .item5,
            .item1-2 {
                display: inline-block;
                margin: 3% 0%;
            }

            .accordion a {
                position: relative;
                display: flex;
                padding: 1rem;
                font-size: 0.8rem;
                border-bottom: 1px solid #e5e5e5;
            }
           

        }

